extends layout

block content
    div.jumbotron
        h1 Welcome #{user.firstName}, we missed you.
        p.lead
            | Check your details below:

        ul.user-details
            li Username ---> #{user.username}
            li Email    ---> #{user.email}
            li First Name ---> #{user.firstName}
            li Last Name ---> #{user.lastName}
        p
            a.btn.btn-lg.btn-success(href="/signout", role="button") Log out
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    script.
        Cookies.set('userId', "#{user._id}")