extends ../layout

block content
        h1 Characters List
        div.row
            for character in characters
                div.card.text-white.bg-dark(style="width: 20rem")
                    img.card-img-top(src='#{character.avatar}')
                    .card-body.text-center
                        h4.card-title #{character.name}
                        p Sex: #{character.sex}
                        p Level: #{character.level}
                        p #{character.xp} XP
                        div.row(style='justify-content: center')
                            a.card-link.btn.btn-primary(href='/characters/#{character._id}') Show
                            a.card-link.btn.btn-primary(href='/characters/#{character._id}/edit') Edit
                            form.card-link(action='/characters/#{character._id}/edit', method='post', name='updateCharacter', ,='', enctype='application/x-www-form-urlencoded')
                                input(type='hidden', value='DELETE', name='_method')
                                button.card-link.btn.btn-primary(type='submit') Delete
        h3
            a(href='/characters/new') Create new character