extends ../layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h3
                    a(href='/characters') Characters List
                img(src='#{character.avatar}')
                h1  #{character.name}
                p Sex:  #{character.sex}
                p Level:  #{character.level}
                p  #{character.xp}  XP
                p  Created at:  #{creationDate}